.sound-control {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  background: rgba(71, 71, 71, 0.177);
  backdrop-filter: blur(10px);
  padding: 10px 10px;
  border-radius: 23px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  gap: 15px;
}

.sound-button {
  background: none;
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0;
}

.sound-button:hover {
  transform: scale(1.1);
  color: rgba(255, 255, 255, 0.8);
}

.sound-button.muted {
  color: rgba(255, 255, 255, 0.8);
}

.sound-button.muted:hover {
  color: rgb(255, 255, 255);
}

.volume-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.volume-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.volume-slider::-webkit-slider-track {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.volume-slider::-moz-range-track {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  height: 4px;
}

@media (max-width: 768px) {

  .sound-control {
    top: 15px;
    right: 15px;
    padding: 12px 8px;
  }
  
  .sound-button {
    width: 25px;
    height: 25px;
  }
  
  .volume-slider {
    width: 80px;
  }
}